<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds">
    <contextName>layouts</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
	    <pattern>%d{MM/dd HH:mm:ss.SSS} [%highlight(%-5level)] in %cyan(%logger{5}@[%-4.30thread]) - %msg%n</pattern>
        </encoder>
    </appender>

    <jmxConfigurator />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
