div.avatar > img {
  border-radius: 50%;
}

img.avart-img {
  max-width: 200px;
}

.alert-col > .alert {
  padding: 10px;
  border-radius: 0;
  transition: all 0.5s ease;
  opacity: 0;
}

.alert-col > .alert.display {
  opacity: 1;
}

div.alert {
  width: 40%;
}
div.profile-row {
  margin-top: 55px;
}
.relative {
  position: relative;
}

div.avatar-bg {
  background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);
  background-position: 50% 50%;
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
  margin-left: calc(50% - 100px);
}
