<!DOCTYPE html>
<html data-bs-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/baselayout::htmlhead_postlogin(pageTitle='Dashboard | TnT')}"></head>

<body id="bod" style="background: rgb(33, 37, 41);">
	<div id="wrapper" style="padding-bottom: 100%;">

		<nav th:replace="~{fragments/baselayout::sidebar}"></nav>

		<div id="content-wrapper">

			<nav th:replace="~{fragments/baselayout::topbar}"></nav>

			<!-- Todo List -->
			<div class="container" style="margin-top: 95px;">
				<div class="card" style="margin-top: 57px; background: #252a2f;">
					<div class="card-body">
						<h4 class="card-title" th:text="#{today}">Heute</h4>
						<h6 class="card-subtitle mb-2" style="color: var(--bs-gray-500);" th:text="#{vorhaben}">Was
							hast du vor?</h6>
						<ul class="list-unstyled" th:each="task: ${tasks}">
							<li th:replace="~{fragments/todo::taskItem(id=${task.id}, title=${task.name})}"></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="container" style="margin-top: 95px;">
				<h1>Notes</h1>
				<ul class="list-unstyled" th:each="note: ${notes}">
					<li th:replace="~{fragments/todo::taskItem(id=${task.id}, title=${task.name})}"></li>
				</ul>
			</div>

		</div>

</body>

</html>