<!DOCTYPE html>
<html data-bs-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/baselayout::htmlhead(pageTitle='TnT')}" />

<body class="bg-body">

  <nav th:replace="~{fragments/baselayout::navbar}" />

  <main class="mt-5">
    <div
      class="container-fluid d-flex justify-content-center align-items-center align-content-center justify-content-sm-center">
      <div>
        <p style="font-size: 55px;" th:text="#{startmessage}">Let's organize and plan your day
          with TnT</p>
      </div>
    </div>
  </main>

  <script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>