<!DOCTYPE html>
<html data-bs-theme="dark" lang="en" data-bss-forced-theme="dark" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/baselayout::htmlhead_postlogin(pageTitle='Profile | TnT')}"></head>

<body class="bg-body">

    <nav th:replace="~{fragments/baselayout::sidebar}"></nav>
       
    
    <div id="content-wrapper">
        
        <div class="row">
            <div class="col-md-12 alert-col relative">
                <div class="alert alert-info alert-dismissible absolue center" role="alert">
                    <button class="close" type="button" aria-label="Close" data-dismiss="alert">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span>Profile save with success</span>
                </div>
            </div>
        </div>
            
        <div class="card shadow mb-3">
            <div class="card-header py-3 bg-body-secondary">
                <p class="m-0 fw-bold text-success" th:text="#{usersettings}">User Settings</p>
            </div>
            <div class="card-body bg-body">
                <form th:action="@{'/u/' + ${username} + '/profile'}" method="POST" enctype="multipart/form-data">
                    <div class="row" style="margin-bottom: 25px;text-align: left;">
                        <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2"
                            style="display: inline;text-align: center;margin-bottom: 25px;">
                            <div class="avatar">
                                <img th:if="${avatarMimeType.startsWith('image/')}" th:src="'data:' + ${avatarMimeType} + ';base64,' + ${avatar}" alt="avatar">
                                <div class="avatar-bg center"></div>
                            </div>
                            <input class="form-control bg-body" type="file" name="avatar" />
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10 col-xxl-10 align-self-center">
                            <div class="row">
                                <div class="col-md-12 text-start">
                                    <div class="mb-3">
                                        <label class="form-label" for="email">
                                            <strong>Email Address</strong>
                                        </label>
                                        <input class="form-control bg-body" type="email" id="email" name="email"
                                            th:value="${user.email}" required="">
                                    </div>
                                </div>
                                <div class="col-md-12 text-start">
                                    <div class="mb-3">
                                        <label class="form-label" for="username">
                                            <strong th:text="#{username}"></strong>
                                        </label>
                                        <input class="form-control bg-body" type="text" name="username"
                                            th:value="${user.username}" required="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="first_name">
                                    <strong th:text="#{first_name}">first_name</strong>
                                </label>
                                <input class="form-control bg-body" type="text" name="firstname" th:value="${user.firstname}"
                                    required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="last_name">
                                    <strong th:text="#{last_name}">last_name</strong>
                                </label>
                                <input class="form-control bg-body" type="text" name="lastname" th:value="${user.lastname}"
                                    required="">
                            </div>
                        </div>
                        <div class="col-md-6 text-start">
                            <label class="form-label" for="username">
                                <strong th:text="#{password}">password</strong>
                            </label>
                            <div class="form-group position-relative">
                                <input class="form-control pword bg-body" type="password" id="password" name="password"
                                    style="padding-right: 40px" th:placeholder="#{password}" data-bs-toggle="tooltip" required/>
                                <div class="d-flex align-items-center position-absolute eye_control"
                                    onclick="passwordVisibility1()">
                                    <i class="far fa-eye" id="show1"></i>
                                    <i class="far fa-eye-slash" id="hide1"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-start">
                            <label class="form-label" for="username">
                                <strong th:text="#{password2}">password2</strong>
                            </label>
                            <div class="form-group position-relative">
                                <input class="form-control bg-body" type="password" id="password2" name="password2"
                                    style="padding-right: 40px" th:placeholder="#{password2}" required/>
                                <div class="d-flex align-items-center position-absolute eye_control"
                                    onclick="passwordVisibility2()">
                                    <i class="far fa-eye" id="show2"></i>
                                    <i class="far fa-eye-slash" id="hide2"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <p id="emailErrorMsg" class="text-danger" style="display:none;"></p>
                            <p id="passwordErrorMsg" class="text-danger" style="display:none;"></p>
                        </div>
                        <div class="col-md-12" style="text-align: right;margin-top: 5px;">
                            <button class="btn btn-primary btn-sm" id="submitBtn" type="submit"
                                style="background: rgb(5,150,105);border-style: none;" th:text="#{savesettings}">Save
                                Settings</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/passwd.js"></script>
    <script src="/js/jquery-v3.2.1.min.js"></script>
    <script src="/js/Profile-Edit-Form-profile.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
</body>

</html>