<!DOCTYPE html>
<html data-bs-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/baselayout::htmlhead(pageTitle='Register | TnT')}" />

<body class="bg-body">

	<nav th:replace="~{fragments/baselayout::navbar}" />

	<main class="mt-5">

		<div class="container-fluid">

			<div class="container bg-body-tertiary mx-auto border-none mb-5 pt-5 pb-0 rounded">
				<div class="p-5">
					<div class="text-center">
						<h4 class="text-light mb-4" th:text="#{createaccount}">Create an Account!</h4>
					</div>
					<form class="user" method="post" action="/register">
						<div class="row mb-3">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<input class="form-control form-control-user" type="text" id="firstname" name="firstname"
									th:placeholder="#{first_name}" required="">
							</div>
							<div class="col-sm-6">
								<input class="form-control form-control-user" type="text" id="lastname" name="lastname"
									th:placeholder="#{last_name}" required="">
							</div>
						</div>
						<div class="mb-3">
							<input class="form-control form-control-user" type="text" id="username" name="username"
								th:placeholder="#{username}" required="">
						</div>
						<div class="mb-3">
							<input class="form-control form-control-user" type="email" id="email" name="email"
								th:placeholder="#{email}" required="">
						</div>
						<div class="row mb-3">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<div class="form-group position-relative">
									<input class="form-control" type="password" id="password" name="password" style="padding-right: 40px"
										th:placeholder="#{password}" data-bs-toggle="tooltip" required
										title="Mindestens acht Zeichen, mindestens ein englischer Großbuchstabe, ein englischer Kleinbuchstabe, eine Zahl und ein Sonderzeichnen." />
									<div class="d-flex align-items-center position-absolute eye_control" onclick="passwordVisibility1()">
										<i class="far fa-eye" id="show"></i>
										<i class="far fa-eye-slash" id="hide"></i>
									</div>	
								</div>
								<div class="tooltip"> 
									<span th:text="#{passwordpolicy}">
										Your password muss contain:
									</span>
									<div>
										At least 6 Characters  : <span class="passfail passfailSix"><span class="fail">Fail</span></span>
									</div>
									<div>
										At least Lower case letters (a-z)  : <span class="passfail passfailLower"><span class="fail">Fail</span></span>
									</div>
									<div>
										At least Upper case letters (A-Z)  : <span class="passfail passfailUpper"><span class="fail">Fail</span></span>
									</div>
									<div>
										At least one Numbers (0-9)  : <span class="passfail passfailNum"><span class="fail">Fail</span></span>
									</div>
									<div>
										At least one Special character (e.g. !@#$%^&*)  : <span class="passfail passfailSpecial"><span class="fail">Fail</span></span>
									</div>
									<hr />
								</div>
								<p class="mt-4" th:text="#{condition}">At least eight characters, at least one English capital letter,
									one English
									lowercase letter, one number and one special
									character.</p>
								<div>
									<meter id="password-strength-meter" max="4"></meter>
									<p id="password-strength-text"></p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group position-relative">
									<input class="form-control" type="password" id="password2" name="password2" style="padding-right: 40px"
										th:placeholder="#{password2}" required />
									<div class="d-flex align-items-center position-absolute eye_control" onclick="passwordVisibility2()">
										<i class="far fa-eye" id="show"></i>
										<i class="far fa-eye-slash" id="hide"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<p id="emailErrorMsg" class="text-danger" style="display:none;">The Email is wrong </p>
							<p id="passwordErrorMsg" class="text-danger" style="display:none;">The Password is wrong</p>
						</div>
						<div th:if="${error}">
							<span class="text-danger m-2" th:text="#{${error}}">ERROR</span>
						</div>
						<button class="btn btn-primary d-block btn-user w-100" id="submitBtn" type="submit"
							th:text="#{accountregister}">Register Account</button>
						<hr>
					</form>
					<div class="text-center">
						<span th:text="#{askaccount}">Already have a Account?</span>
						<a class="small" href="login" th:text="#{login}">Login!</a>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
	<script src="js/Password-Strenght-Checker---Ambrodu-password.js"></script>
	<script src="js/passwd.js"></script>
</body>

</html>