<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/baselayout::htmlhead(pageTitle=Notetilus)}" />

<body>

  <div th:replace="~{fragments/baselayout::navbar}" />

  <div class="container-fluid mh-100">
    <form class="mx-auto w-25 m-5 p-5 bg-light rounded" method="post" action="/signup">
      <h4 class="text-center">Login</h4>
      <div class="mb-3">
        <label for="username" class="form-label" th:text="#{username}">username</label>
        <input type="text" class="form-control" id="username" name="username" th:placeholder="#{username}">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label" th:text="#{email}">email</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" name="email"
          th:placeholder="#{email}">
        <div id="emailHelp" class="form-text" th:text="#{mail_privacy}">We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label" th:text="#{password}">password</label>
        <input type="password" class="form-control" id="password" name="password" th:placeholder="#{password}">
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label" th:text="#{password2}">password2</label>
        <input type="password" class="form-control" id="password2" name="password2" th:placeholder="#{password2}">
      </div>
      <button type="submit" class="btn btn-primary" th:text="#{register}">register</button>
      <span class="text-danger m-2" th:text="${error}">ERROR</span>
    </form>
  </div>

</body>

</html>