<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TnT_Register</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Brand-Dark-icons.css">
</head>

<body style="background: #121621;">
    <div class="container"
        style="position: absolute;left: 0;right: 0;top: 50%;transform: translateY(-50%);-ms-transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);margin-left: auto;margin-right: auto;background: none;border-style: none;margin-top: auto;margin-bottom: 78px;padding-bottom: 0px;padding-top: 88px;">
        <div class="p-5" style="background: #232631;">
            <div class="text-center">
                <h4 class="text-light mb-4">Create an Account!</h4>
            </div>
            <form class="user" method="post" action="/register">
                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text"
                            id="firstname" name="firstname" placeholder="First Name" required=""></div>
                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="lastname"
                            name="lastname" placeholder="Last Name" required=""></div>
                </div>
                <div class="mb-3"><input class="form-control form-control-user" type="text" id="username"
                        name="username" placeholder="Username" required=""></div>
                <div class="mb-3"><input class="form-control form-control-user" type="email" id="email" name="email"
                        placeholder="Email Address" required=""></div>
                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password"
                            id="password" name="password" placeholder="Password" required=""></div>
                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="password2"
                            name="password2" placeholder="Repeat Password" required=""></div>
                </div>
                <div class="row mb-3">
                    <p id="emailErrorMsg" class="text-danger" style="display:none;">Paragraph</p>
                    <p id="passwordErrorMsg" class="text-danger" style="display:none;">Paragraph</p>
                </div><button class="btn btn-primary d-block btn-user w-100" id="submitBtn" type="submit"
                    style="background: #059669;">Register Account</button>
                <hr>
            </form>
            <div class="text-center"><a class="small" href="login">Already have an account? Login!</a></div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>