<!DOCTYPE html>
<html data-bs-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/baselayout::htmlhead_postlogin(pageTitle='Tasks | TnT')}" />

<body id="bod" class="bg-body">
	<div id="wrapper" style="padding-bottom: 100%;">

		<nav th:replace="~{fragments/baselayout::sidebar}" />

		<div id="content-wrapper">

			<nav th:replace="~{fragments/baselayout::topbar}" />

			<div class="container" style="margin-top: 95px;">
				<header>
					<h2 style="font-weight: bold;" th:text="#{letsgo}">Let's go!!</h2>
				</header>
				<form class="card" method="post" style="background: #252a2f; height: 273.4px;">
					<div class="card-body bg-body-secondary" style="padding-bottom:0;">
						<div id="container_textinput">
							<div id="textinput1" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input type="text" id="FormInput-1" name="taskName" class="mdl-textfield__input"
									style="border-radius: 0px;border-bottom-color: #059669;" th:placeholder="#{taskname}" required>
							</div>
							<div id="textinput2" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<textarea id="taskContent" name="taskContent" th:placeholder="#{description}"
									style="background: transparent; border-color: #059669;"></textarea>
							</div>
						</div>
						<div class="d-flex justify-content-between" id="div_dropdown" style="margin-top: 14px;">
							<div>
								<button class="btn btn-primary datum" aria-expanded="false" data-bs-toggle="dropdown" type="button"
									style="border-color: #059669;border-left-color: #059669;">
									<input type="date" id="date" name="date"
											style="background: transparent;color: var(--bs-dropdown-color);border-color: rgba(33,37,41,0);" required>
								</button>
							</div>

							<select class="btn btn-primary priorität" style="border-color: #059669;" name="priority" id="priority">
								<option value="low" selected>
									<div>🟩</div>
									<span th:text="#{P1}">Priority 1</span>
								</option>
								<option value="medium">
									<div>🟨</div>
									<span th:text="#{P2}">Priority 2</span>
								</option>
								<option value="high">
									<div>🟥</div>
									<span th:text="#{P3}">Priority 3</span>
								</option>
							</select>

							<div >
								<button class="btn btn-primary zeit" aria-expanded="false" data-bs-toggle="dropdown" type="button"
									style="border-color: #059669;">
									<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
										viewBox="0 0 16 16" class="bi bi-clock" style="margin-right: 5px;margin-top: -5px;">
										<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z">
										</path>
										<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0">
										</path>
									</svg>
									<input type="time" id="time" name="time"
											style="background: transparent; border-color: rgba(33,37,41,0);">
								</button>
							</div>
						</div>
						<div class="d-flex justify-content-center" style="padding-top: 50px;">
							<button class="btn border rounded-circle border-0" id="add_button" type="submit">
								<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
									class="bi bi-plus-square" style="font-size: 29px;">
									<path
										d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z">
									</path>
									<path
										d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4">
									</path>
								</svg>
							</button>
						</div>
					</div>
				</form>

				<!-- Todo List -->
				<div class="card bg-body-secondary" style="margin-top: 140px;">
					<div class="card-body">
						<h4 class="card-title" th:text="#{today}">Heute</h4>
						<h6 class="card-subtitle mb-2" th:text="#{vorhaben}">Was
							hast du vor?</h6>
						<ul class="list-unstyled" th:each="task: ${tasks}">
							<li th:replace="~{fragments/todo::taskItem(task=${task})}"></li>
						</ul>
					</div>
				</div>

			</div>
		</div>

	</div>
	<script th:src="@{js/ChangeActiveNavbar.js}"></script>
</body>

</html>
